
.line:before{

	content: "";
	width: 50px;
	height: 3px;
	background: white;
	display: inline-block;
	margin-bottom: 2px;

}

.line:after{

	content: "";
	width: 50px;
	height: 3px;
	background: white;
	display: inline-block;
	margin-bottom: 2px;

}
.contenedor{
	max-width: 850px;
	margin: auto;
}

header{
	background: #18BC9C;
	padding-bottom: 40px;
}

header nav{
	background: #2C3E50;
}

h1, h2, h3{

	font-family: Montserrat;
	text-transform: uppercase;
}

h3{
	color: white;
	font-size: 20px;
}

h1{
	color: white;
	font-size: 50px;
	text-align: center;
	margin: 20px;
}

header article{
	color: white;
	text-align: center;
}

p{
	font-family: "Open Sans";
}

.top{
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
}


header ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header img{
	padding-top: 70px;
}

.menuresp{
	border: 1px solid white;
	border-radius: 15px;
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	padding:15px;
	text-transform: uppercase;
	display: none;
}



.menunavegador{
	font-family: 'Montserrat';
}




/*
.line:before{
	content: "";
	width: 100%;
	height: 5px; 
	background: white;
}VERIFICAR!!no funciona*/

header ul li a{
	text-decoration: none;
	font-family: Montserrat;
	color: white;
	font-size: 10px;
	text-transform: uppercase;
	margin: 10px;

}

header img{
	margin: 20px;
}

header article p{
	margin: 20px;
}

/*PORTFOLIO-------------------------*/
.port li a:hover{
	background-color:#18BC9C;
	opacity: 0.3;
	mix-blend-mode: multiply;
	
}

.port .line:before{

	content: "";
	width: 50px;
	height: 3px;
	background: black;
	display: inline-block;
	margin-bottom: 2px;

}

.port .line:after{

	content: "";
	width: 50px;
	height: 3px;
	background: black;
	display: inline-block;
	margin-bottom: 2px;

}
.imgportfolio{
	width: 100%;
	height: auto;
}


.port{
	text-align: center;
	padding-top: 70px;
}

.portfolio{
	padding: 25px;
}

.portfolio li{
	display: inline-block;
	width: 32%;
	padding: 10px;
	box-sizing: border-box;
}

h2{
	font-size: 35px;
	padding-bottom: 30px;
}

/*ABOUT*/


.about{
	background-color: #18BC9C; 
	padding: 70px 0;
}

.about h2{
	color: white;
	text-align: center;
}

.about article{
	width: 70%;
	margin: auto;
	padding: 30px 0;

}

.about div{
	display: flex;
}

.about p{
	text-align: left;
	line-height: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.line{
	margin: auto;

}
.about{
	color: white;
	text-align: center;
}

.about a{
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	font-family: "Open Sans";
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 20px;
}

.ion-ios-download{
	font-size: 20px;
}

/*CONTACT ME*/

.contact .line:before{

	content: "";
	width: 50px;
	height: 3px;
	background: black;
	display: inline-block;
	margin-bottom: 2px;

}

.contact .line:after{

	content: "";
	width: 50px;
	height: 3px;
	background: black;
	display: inline-block;
	margin-bottom: 2px;

}


.contact{
	text-align: center;
	padding: 50px 0;
	color: black;
	font-size: 40px;
	
}

.contact form input, .contact form textarea{
	display: block;
	width: 100%;
}

.formulario input, .formulario textarea{
	padding: 20px;
	border-style: solid hidden hidden hidden;
	border-width: 1px;
	border-color: lightgrey;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 
}

.formulario{

	width: 70%;
    margin: auto;
    padding: 30px 0;
}

input[type=submit]{

	background-color: #18BC9C;
	color: white;
	border-radius: 15px;
}

form div{
	width: 15%;
	min-width: 100px;
}

/*FOOTER*/

footer{
	background-color: #2C3E50;	
	text-align: center;
	color: white;
	padding-top:40px;
}

footer article{
	margin: 20px;
	flex: 1;
}

.copyright{
	background-color: #233140;
	padding: 20px;
	color: white;
	font-family: 'Open Sans';
}

.futer{
	display: flex;
	justify-content: space-around;
}



footer ul{

	display: flex;
	font-size: 15px;
	justify-content: center;
	
}

footer ul li{
	padding: 10px;
}

footer a{
	border:1px solid white;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	color: white;
	display: inline-block;
	padding-top: 7px;
	box-sizing: border-box;

}

.alink{
	border: none;
	text-decoration: none;
	color: #18BC9C;
	font-weight: 600;
	display: inline;

}

footer h3{
	margin-bottom: 20px;
}

.ion-android-star{
	font-size: 25px;
}



/*queries*/

@media screen and (max-width: 680px){
	header ul{
	display: none;
	justify-content: space-around;
	align-items: center;
	}

	.menuresp{
		display: inline-block;
	}

	.menuresp span, .menuresp p{
		display: inline;
	}
 
	.futer{
	flex-direction: column;
	}

	.alink{
		display: inline;
	}

	footer ul{
		justify-content: center;
	}



}

@media screen and (max-width: 450px){

	
	.portfolio li{
		display: block;
		width: 100%;
	}

	.about div{
	display: inline-block;
	}

	.formulario{
		width: 100%;
	}

	.formulario input, .formulario textarea{
		width: 100%;
		padding: 20px 0;
	}
	

	.futer{
	flex-direction: column;
	}

	.alink{
		display: inline;
	}


}